---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import "../styles/index.css";
import { CardGrid, Code, } from "@astrojs/starlight/components";
import TerminalDemo from '../components/TerminalDemo.astro';
import Footer from '../components/Footer.astro';
import prSectionsImage from '../assets/pr-sections.png';
import { Image } from 'astro:assets';
---


<StarlightPage frontmatter={{title: "DASH Through Your GitHub", template: "splash"}}>
  <div class="flex gap-1 items-center flex-row">
    <button class="bg-[var(--sl-color-black)] rounded-lg px-2 py-1 text-sm m-0 text-[var(--sl-color-accent-low)]">v4.16.2</button>
    <button class="bg-[var(--sl-color-black)] rounded-lg px-2 py-1 text-sm m-0 text-[var(--sl-color-accent-low)]">Build: passing</button>
  </div>
  <div id="hero">
    <div class="pt-8 pb-4 flex flex-row gap-12 items-center justify-center w-full">
      <h2 class="font-normal text-balance text-center">
        A rich terminal UI for GitHub<br/> that doesn't break your flow
      </h2>
      <div id="main-buttons" class="flex flex-col gap-4 items-center">
        <form action="/getting-started/">
          <button>Get started →</button>
        </form>
        <form class="m-0" action="https://github.com/dlvhdr/gh-dash">
          <button variant-="background0">View on GitHub </button>
        </form>
      </div>
    </div>
    <div class="relative">
      <TerminalDemo />
      <div class="absolute -bottom-2 -right-16 animate-bounce border-gray-700 text-[var(--sl-color-accent)] border h-10 p-1 rounded-2xl">
        <div>⌄</div>
        <div class="relative -top-8 mt-0">⌄</div>
      </div>
    </div>
  </div>


  <div class="pt-8"></div>

  <CardGrid stagger>
    <div box-="round" shear-="top">
      <div class="header">
        <span>︎ Define sections using GitHub filters</span>
      </div>
      <Image src={prSectionsImage} alt="" />
      <Code lang="yaml" code={`
prSections:
  - title: My Pull Requests
    filters: is:open author:@me
  - title: Needs My Review
    filters: is:open review-requested:@me
  - title: Involved
    filters: is:open involves:@me -author:@me
      `} />
    </div>
    <div box-="round" shear-="top">
      <div class="header">
        <span> First class vim keybindings</span>
      </div>
      <div class="pl-6 pr-6">
        <ul>
          <li><kbd>h/j/k/l</kbd> to move between rows/sections</li> 
          <li><kbd>ctrl+d/u</kbd> to move in sidebar</li> 
          <li><kbd>o</kbd> to open in browser</li> 
          <li><kbd>y/Y</kbd> to copy pr number/url</li> 
          <li>and more...</li> 
        </ul>
      </div>
    </div>
    <div box-="round" shear-="top">
      <div class="header">
        <span> Manage your issues</span>
      </div>
      <Code lang="yaml" code={`
issuesSections:
  - title: Ghostty
    filters: is:open ghostty-org/ghostty
  - title: Neovim
    filters: is:open neovim/neovim
  - title: Bubbletea
    filters: repo:charmbracelet/bubbletea
    `} />
    </div>
    <div box-="round" shear-="top">
      <div class="header">
        <span> Customie the layout to your liking</span>
      </div>
      <Code lang="yaml" code={`
repo:
  width: 15
title:
  grow: true
assignees:
  hidden: true
base:
  hidden: true
`}/>
    </div>
    <div box-="round" shear-="top">
      <div class="header">
        <span>⚡ Act on PRs and issues</span>
      </div>
      <div class="pl-6 pr-6">
        <ul>
          <li><kbd>v</kbd> to approve</li>
          <li><kbd>d</kbd> to show diff</li>
          <li><kbd>c</kbd> to add a comment</li>
          <li><kbd>m</kbd> to merge</li>
          <li>and more...</li>
        </ul>
      </div>
    </div>
    <div box-="round" shear-="top">
      <div class="header">
        <span> Set custom commands</span>
      </div>
      <Code lang="yaml" code={`
- key: g
  name: laygit
  command: lazygit
- key: C
  name: code review
  command: tmux new-window -c {{.RepoPath}} nvim -c ":silent Octo pr edit {{.PrNumber}}"
      `} />
    </div>
    <div box-="round" shear-="top">
      <div class="header">
        <span> Use custom themes</span>
      </div>
        <Code lang="yaml" code={`
ui:
  sectionsShowCount: true
  table:
    showSeparators: true
    compact: false
colors:
  text:
    primary: "#ffffff"
    secondary: "#c6c6c6"
# rest of theme...
      `} />
    </div>
    <div box-="round" shear-="top">
      <div class="header">
        <span> Easily switch between configurations</span>
      </div>
      <div class="pl-6 pr-6">
        <ul>
          <li>For your open source contributions</li>
          <ul><li><code>gh dash --config open-source.yml</code></li></ul>
          <li>For your work repos</li>
          <ul><li><code>gh dash --config work.yml</code></li></ul>
          <li>For your side projects</li>
          <ul><li><code>gh dash --config side-projects.yml</code></li></ul>
          <li>Auto detect <code>.gh-dash.yml</code> in a git repo</li>
        </ul>
      </div>
    </div>
  </CardGrid>
  <Footer />
</StarlightPage>
