---
import PillLink from './PillLink.astro';

const { className } = Astro.props;
---

<div class={`text-center items-center !text-sm flex flex-col p-8 ${className}`}>
  <p class="mb-2">
    Created and maintained by <a href="https://github.com/dlvhdr">@dlvdr</a> and the <a href="https://github.com/dlvhdr/gh-dash/graphs/contributors">community</a>
  </p>
  <div class="flex gap-3">
    <PillLink href="https://charm.sh" target="_blank">
      Built with: Charm
    </PillLink>
    <PillLink href="https://github.com/tokyo-night/tokyo-night-vscode-theme" target="_blank">
      Theme: Tokyo Night
    </PillLink>
  </div>
</div>
