---
import Search from "@astrojs/starlight/components/Search.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import Logo from "./Logo.astro";
import { Icon } from "@astrojs/starlight/components";
import PillLink from './PillLink.astro';
---

<div class="flex flex-row items-center gap-3 px-4 py-0">
  <div class="grow">
    <a href="/" class="no-underline">
      <Logo />
    </a>
  </div>
  <PillLink href="/getting-started">
    <Icon name="document" /> Docs
  </PillLink>
  <PillLink href="https://github.com/dlvhdr/gh-dash" target="_blank">
    <Icon name="github" /> 8.7k
  </PillLink >
  <PillLink href="./donating">
    <Icon name="heart" color="var(--color-red-500)" /> Donate
  </PillLink>
  <Search />
  <ThemeSelect />
</div>
