---
const {href, target} = Astro.props;
---
<a
  class="flex items-center gap-2 text-[var(--sl-color-accent-low)] no-underline hover:underline"
  href={href}
  target={target}>
  <div class="hover:bg-[var(--sl-color-gray-5)] flex items-center gap-2 rounded-lg border border-[var(--sl-color-gray-5)] bg-[var(--sl-color-black)] px-3 py-2 lg:px-2 lg:py-1 text-[var(--sl-color-accent-low)]">
    <slot />
  </div>
</a>
