---
import '../styles/terminal.css';
---

<div class="terminal space shadow">
  <div class="top">
      <div class="btns">
          <span class="circle red"></span>
          <span class="circle yellow"></span>
          <span class="circle green"></span>
      </div>
      <div class="terminal-title">gh dash -- 70x32</div>
  </div>
  <div class="body">
    <video autoplay loop muted playsinline width="800">
      <source src="/src/assets/overview_3.webm" type="video/webm" />
      <source src="/src/assets/overview.mp4" type="video/mp4" />
    </video>
  </div>
</div>
