---
import '../styles/terminal.css';
---

<div class="terminal space shadow">
  <div class="top">
      <div class="btns">
          <span class="circle red"></span>
          <span class="circle yellow"></span>
          <span class="circle green"></span>
      </div>
      <div class="terminal-title">gh dash -- 70x32</div>
  </div>
  <div class="body">
    <img
      alt="A demo GIF showing off the various capabilities of DASH"
      src="https://user-images.githubusercontent.com/6196971/198704107-6775a0ba-669d-418b-9ae9-59228aaa84d1.gif"
    />
  </div>
</div>
