---
const { class: className } = Astro.props;
---

<div class:list={["lg:w-lg text-center text-pretty", className]}>
  <h2>Join Our Discord Community</h2>
  <p>
    If you want to keep up with the TUIs I'm developing or just want to nerd out about the terminal - <br /><a href="https://discord.gg/SXNXp9NctV" target="_blank">come join us!</a>
  </p>
</div>
