---
import Search from "@astrojs/starlight/components/Search.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import Logo from "./Logo.astro";
import { Icon } from "@astrojs/starlight/components";
import PillLink from './PillLink.astro';

const isHomepage = Astro.locals.starlightRoute.id === "";
---

<div class="flex flex-row pl-4 pr-2 lg:px-6 py-2 rounded border border-[var(--sl-color-gray-5)] items-center gap-1 lg:gap-3 max-w-[100vw]">
  <div class="grow">
    <a href="/" class="no-underline">
      <Logo />
    </a>
  </div>
  {isHomepage ? (
    <PillLink href="/getting-started">
        <Icon name="document" /><span class="hidden lg:block"> Docs</span>
    </PillLink>
    ) : null
  }
  <PillLink href="https://github.com/dlvhdr/gh-dash" target="_blank">
    <Icon name="github" /><span class="hidden lg:block"> 8.7k</span>
  </PillLink >
  <PillLink href="/donating">
    <Icon name="heart" color="var(--color-red-500)" /><span class="hidden lg:block"> Donate</span>
  </PillLink>
  <Search />
  <div class="sl-hidden md:sl-flex" >
    <ThemeSelect />
  </div>
</div>
