---
import { getLatestVersion } from "../data/latestVersion";

const { githubUrl } = Astro.props;

const response = await getLatestVersion(githubUrl);
---

<form action={`${githubUrl}/releases`}>
  <button
    class="m-0 rounded-lg bg-[var(--sl-color-black)] px-2 py-1 text-sm text-[var(--sl-color-gray-3)]"
  >
    {response?.tag_name}
  </button>
</form>
