---
import { Icon } from "@astrojs/starlight/components";
import PillLink from "./PillLink.astro";
---

<PillLink href="https://github.com/dlvhdr/gh-dash" target="_blank">
  <Icon name="github" size="20px" />{" "}
  <span class="animate-pulse">GitHub</span>
</PillLink>
